.box3 {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 15px;
  background: #17a2b8;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-weight: 600;
  font-family: arial;
  position: relative;
}

/* speech bubble 13 */

.sb13:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #17a2b8;
  border-right: 15px solid transparent;
  border-top: 15px solid #17a2b8;
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0px;
}

/* speech bubble 14 */

.sb14:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #17a2b8;
  border-top: 15px solid #17a2b8;
  border-bottom: 15px solid transparent;
  left: -16px;
  top: 0px;
}